{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["react", "react-hooks"],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "^_" }]
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "webextensions": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
