{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-unused-vars": "warn"
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  }
}
