.Chat-wrapper {
  div {
    margin: 10px;
  }

  input {
    width: 250px;
  }

  .title {
    font-size: 2em;
    font-weight: bold;
  }

  .message-list {
    height: 70vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .send-form {
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
  }
}
