.darkrai-input {
  color: #2b2b2b;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
}

.darkrai-button {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  color: black;
  background-color: white;
  border-radius: 20px;
}
